/* Desktop code */

.wrap {
    
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15.8%;
    position: relative;
    background:#E5E5E5;
}

.head {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    justify-content: space-between;
}

.logo-wrap {
    flex-grow: 1;
    align-items: center;
}

.stumb {
    flex: 1;
}

.nav {
    flex-grow: 0.25;
}


.nav__link {
    width: 100%;
    display: flex;
    justify-content: space-between;

}


a {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto';
    font-size: 14px;
}

.nav a:hover {
    border-bottom: 2px solid #0056EC;
}

.main-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.flex-container {
    display: inline-flex;
}

.info {
    flex-direction: column;
    margin-bottom: 15%;
}

.title {
   font-family: 'PT Serif';
   font-size: 50px;
   color: #000000;
}

.back-line {
    background: #ECF3FF;
    padding: 0 1px;
}

.text{
    max-width: 350px;
    margin: 0 0 40px;
    font-family: 'Roboto';
    font-size: 18px;
    color: #000000;
}

.button {
    width: 209px;
    height: 44px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background: #0056EC;
}

.picture {
    width: auto;
    height: 100%;
}

.picture-main {
    width: auto;
    height: 100%;
}

.footer-wrap {
    display: flex;
}

.dots {
    flex: 1;
}

.dots-container {
    width: 100%;
    height: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: o auto;
}

.dot {
    width: 8px;
    height: 8px;
    margin: 0 3px;
    border-radius: 50%;

    background: #C8DBFB;
    opacity: 0.7;
}

/* menu responsive classes */

.nav__icon {
	display: none;
	width: 45px;
	height: 35px;
	cursor: pointer;
    z-index: 1;
    text-align: right;
  }

  .nav__icon span {
    display: none;
	position: absolute;
	height: 3px;
	width: 25px;
	background: #0056EC;;
	border-radius: 9px;
	opacity: 1;
	left: 85%;
	transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .nav__icon span:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .nav__icon span:nth-child(2), 
  .nav__icon span:nth-child(3) {
    top: 8px;
    left: 0;
  }
  
  .nav__icon span:nth-child(4) {
    top: 16px;
    left: 0;
  }

/* Media queries */

@media (min-width: 1920px) {

    .wrap {
        padding: 0 10%;
    }

    .main-wrap {
        justify-content: space-between;
    }

    a {
        font-size: 18px;
        line-height: 21px;
    }

    .info {
        margin: 0 20px 23% 0;
    }

    .title {
        font-family: 'PT Serif';
        font-size: 66px;
        margin-bottom: 36px;
    }
        
    .text{
        max-width: 455px;
        margin: 0 0 43px;
        font-style: normal;
        font-size: 22px;
    }
        
    .button {
        width: 270.5px;
        height: 57px;
        font-size: 18px;
    }    

    .head {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        margin-bottom: 9%;
    }
}

@media (min-width: 1582px) and (max-width: 1920px) {

    .wrap {
        padding: 0 10%;
    }

    .main-wrap {
        justify-content: space-between;
    }

    a {
        font-size: 18px;
        line-height: 21px;
    }

    .info {
        margin: 0 20px 23% 0;
    }

    .title {
        font-family: 'PT Serif';
        font-size: 66px;
        margin-bottom: 36px;
    }
        
    .text{
        max-width: 455px;
        margin: 0 0 43px;
        font-style: normal;
        font-size: 22px;
    }
        
    .button {
        width: 270.5px;
        height: 57px;
        font-size: 18px;
    }    

    .head {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        margin-bottom: 9%;
    }
}

@media (min-width: 1367px) and (max-width: 1581px) {

    .main-wrap {
        justify-content: space-between;
    }

    .info {
        margin: 0 1% 23% 0;
    }
}


@media (max-width: 1047px) and (min-width: 415px){

    .wrap {
        padding: 0 5%;
    }

    .main-wrap {
        width: 100%;
        
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
    }

    .head {
        height: 90px;
        margin-bottom: 10%;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
    }

    .nav__icon {
        display: block;
        cursor: pointer;
        position: relative;
      }
    
      .nav__icon span {
          display: inline;
      }
  
      .nav__link {
        display: none;
        position: relative;
      }

      .info {
        text-align: center;
        align-items: center;
        margin: 0 auto;
     }

    .title {
        font-size: 34px;
     } 

     .button {
        width: 209px;
        height: 44px;
     }

     .picture {
        justify-content: center;
        margin: auto;
     }

     .dots {
         display: none;
     }
}

@media (max-width: 414px) {

    .wrap {
        padding: 0 5px;
    }

    .main-wrap {
        flex-direction: column-reverse;
        display: flex;
        padding: 0 10%;
        
    }

    .head {
        width: 100%;
        height: 90px;
        margin: 0 auto;
    }

    .logo-ellipse-top {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 8.3%;
        top: 30px;
        border-radius: 50%;
        display: block;
        background: #0056EC;
        opacity: 0.7;
    }
    
    .logo-ellipse-bottom {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 11%;
        top: 37px;
        border-radius: 50%;
        display: block;
        background: #C8DBFB;
        opacity: 0.7;
    }

	.logo {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: flex-end;

    }

    .nav__icon {
	  display: flex;
      cursor: pointer;
      position: relative;
	}
  
    .nav__icon span {
        display: inline;
    }

	.nav__link {
	    display: none;
    }

    .info {
        padding-left: 0px;
        text-align: center;
        align-items: center;
    }
  
    .title {
        font-size: 30px;
        line-height: 40px;
     }

     .picture-main {
         width: 100%;
     }

     .button {
        width: 209px;
        height: 44px;
     }

     .dots {
         display: none;
     }
  }


