@media screen and (max-width: 400px) {
	.nav_icon {
	  display: inline-block;
	  cursor: pointer;
	}
  
	.nav_links {
	  position: fixed;
	  display: block;
	  top: 0;
	  right: 0;
	  left: 0;
	  margin-top: 52px;
	  background-color: rgba(0, 0, 0, 0.8);
	  z-index: 1000;
	  overflow: auto;
	  visibility: hidden;
    }
    
    .picture {
        width: 100%;
    }
  }


@media screen and (max-width: 1170px) and (min-width: 400px){
    width: 100%;
}

@media screen and (max-width: 1366px) {
    width: 100%;
}

@media screen and (max-width: 1920px) {
    width: 100%;
}

body {
    background:#E5E5E5;
}

.logo_ellipse_top {
    position: absolute;
    width: 28px;
    height: 28px;
    left: calc(50% - 28px/2 - 456px);
    top: 40px;
    border-radius: 50%;
    
    background: #0056EC;
    opacity: 0.7;
}

.logo_ellipse_bottom {
    position: absolute;
    width: 28px;
    height: 28px;
    left: calc(50% - 28px/2 - 448px);
    top: 47px;
    border-radius: 50%;

    background: #C8DBFB;
    opacity: 0.7;
}
.logo_text {
    position: absolute;
    width: 146px;
    height: 32px;
    left: calc(50% - 146px/2 - 354px);
    top: 15px;

    font-family: 'PT Serif';
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;

    color: #000000;
}

.nav a {
    text-decoration: none;
    color: #000000;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
}

span {
    color: black;
}
.nav a:hover {
    border-bottom: 2px solid #0056EC;
}

.nav_start {
    position: absolute;
    width: 30px;
    height: 17px;
    left: calc(50% - 30px/2 + 161px);
    top: 51px;
}

.nav_services {
    position: absolute;
    width: 53px;
    height: 17px;
    left: calc(50% - 53px/2 + 226.5px);
    top: 51px;
}

.nav_about {
    position: absolute;
    width: 36px;
    height: 17px;
    left: calc(50% - 36px/2 + 295px);
    top: 51px;
}

.nav_blog {
    position: absolute;
    width: 28px;
    height: 17px;
    left: calc(50% - 28px/2 + 354px);
    top: 51px;
}

.nav_contact {
    position: absolute;
    width: 66px;
    height: 17px;
    left: calc(50% - 66px/2 + 428px);
    top: 51px;
}

.title {
    position: absolute;
    width: 434px;
    height: 195px;
    left: calc(50% - 434px/2 - 254px);
    top: 179px;
    
    font-family: 'PT Serif';
    font-size: 50px;
    line-height: 66px;
    align-items: center;
    
    color: #000000;
}

.back_line {
    background: #ECF3FF;
    line-height: 75%;
    padding: 0 3px 0 3px;
}

.text{
    position: absolute;
    width: 367px;
    height: 43px;
    left: calc(50% - 367px/2 - 287px);
    top: 429px;

    font-family: 'Roboto';
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.picture {
    position: absolute;
    width: 514px;
    height: 439px;
    left: calc(50% - 514px/2 + 203px);
    top: 194px;
}

.button {
    position: absolute;
    width: 168px;
    height: 17px;
    left: calc(50% - 168px/2 - 385px);
    top: 532px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    
    color: #FFFFFF;

    display: inline-block;
    padding: 14px 1.4em;
    border-radius: 4px;
    background: #0056EC;
}

.dot_left{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #C8DBFB;
    opacity: 0.7;
    left: calc(49.6% - 8px/2 - 12px);
    top: 722px;
}

.dot_middle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #C8DBFB;
    opacity: 0.7;
    left: calc(49.6% - 8px/2);
    top: 722px;
}

.dot_right {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #C8DBFB;
    opacity: 0.7;
    left: calc(49.6% - 8px/2 + 12px);
    top: 722px;
}
<<<<<<< HEAD
<!-- mobile responsive classes -->
.nav_icon {
	display: none;
	width: 45px;
	height: 35px;
	position: relative;
	cursor: pointer;
    z-index: 1;
    text-align: right;
  }

  .nav_icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 25px;
	background: #0056EC;;
	border-radius: 9px;
	opacity: 1;
	left: 326px;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
  }
  
  .nav_icon span:nth-child(1) {
	top: 32px;
  }
  
  .nav_icon span:nth-child(2), 
  .nav_icon span:nth-child(3) {
	top: 39px;
  }
  
  .nav_icon span:nth-child(4) {
	top: 46px;
  }
=======

.dots {
    position: absolute;
width: 32px;
height: 8px;
left: 667px;
top: 722px;

}
>>>>>>> 12080f64ff3a60fec7cd2743b974b322d9ba90fe
